src/main/mule/tshirt-api-new.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="tshirt-api-new-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="tshirt-api-new-config" api="resource::24971e57-7048-4ec3-a1da-9b3a1c4c8637:tshirt-api-new:1.0.0:raml:zip:tshirt-api-new.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config_New" doc:name="Database Config" doc:id="3ee8490a-05f9-44c8-ac4c-0d3c3e99dbe9" >
		<db:oracle-connection host="oradb.ciml56mbzjj3.ap-southeast-2.rds.amazonaws.com" port="15210" user="mule" password="Muleadmin2022" instance="orcl" />
	</db:config>
	<flow name="tshirt-api-new-main">
        <http:listener config-ref="tshirt-api-new-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tshirt-api-new-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="tshirt-api-new-console">
        <http:listener config-ref="tshirt-api-new-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tshirt-api-new-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\inv\get:tshirt-api-new-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  productcode: "123",
  name: "abc",
  quantity: 100,
  description: "Brand A",
  colour: "Green",
  tsize: "S",
  cost: 120
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\inv\list:tshirt-api-new-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  inventory: [
    {
      productcode: "123",
      name: "brand-A",
      quantity: 100,
      description: "Brand A",
      colour: "Green",
      tsize: "S",
      cost: 120
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<db:select doc:name="Select" doc:id="af047d5b-b568-4b84-8a9d-55b8556753f0" config-ref="Database_Config_New">
			<db:sql ><![CDATA[select * from product_new]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a87a0c88-4519-45f1-8b1e-91e50d2eefcf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	inventory: payload map ( payload01 , indexOfPayload01 ) -> {
		productcode: payload01.PRODUCTCODE default "",
		colour: payload01.COLOUR default "",
		quantity: payload01.QUANTITY default 0,
		cost: payload01.COST as Number default 0,
		name: payload01.NAME default "",
		description: payload01.DESCRIPTION default "",
		tsize: payload01.TSIZE default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\inv\bulkUpload:application\json:tshirt-api-new-config">
        <logger level="INFO" message="post:\inv\bulkUpload:application\json:tshirt-api-new-config" />
		<ee:transform doc:name="Transform Message" doc:id="7540172a-5dc9-4767-961a-99449761a368" >
			<ee:message >
				<ee:set-payload ><![CDATA[ %dw 2.0
output application/java
---
payload.inventory map ( inventory , indexOfInventory ) -> {
	    productcode: inventory.productcode,
		name: inventory.name,
		quantity: inventory.quantity,
description: inventory.description,
colour: inventory.colour,
tsize: inventory.tsize,
cost: inventory.cost        
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="e0ab86c0-bf38-4b57-b4cc-cf9b9c0ecd63" config-ref="Database_Config_New">
			<db:sql><![CDATA[insert into product_new (
productcode ,
name ,
quantity ,
description ,
colour ,
tsize,
cost) values (:productcode,:name, :quantity,
 :description, :colour, :tsize, :cost)]]></db:sql>
		</db:bulk-insert>
		<logger level="DEBUG" doc:name="Logger" doc:id="fae1e2b1-903e-4314-825d-2b5fa2f06a9a" message="Inventory  record created"/>
    </flow>
    <flow name="post:\inv\createTable:tshirt-api-new-config">
        <logger level="INFO" message="post:\inv\createTable:tshirt-api-new-config" />
    </flow>
</mule>
